In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("germany_full.csv")
df1 = pd.read_csv("germany_generation.csv")
df1=  df1.drop("Unnamed: 0", axis=1)

In [7]:
df

,merge_idx,data,price,temp,dew,humidity,windspeed,cloudcover
0,2021-01-01,2021-01-01 00:00:00+01:00,50.87,1.9,0.2,88.5,10.0,63.9
1,2021-01-01,2021-01-01 01:00:00+01:00,48.19,1.9,0.2,88.5,10.0,63.9
2,2021-01-01,2021-01-01 02:00:00+01:00,44.68,1.9,0.2,88.5,10.0,63.9
3,2021-01-01,2021-01-01 03:00:00+01:00,42.92,1.9,0.2,88.5,10.0,63.9
4,2021-01-01,2021-01-01 04:00:00+01:00,40.39,1.9,0.2,88.5,10.0,63.9
...,...,...,...,...,...,...,...,...
18930,2023-02-28,2023-02-28 18:00:00+01:00,193.87,1.2,-4.6,67.1,13.0,17.6
18931,2023-02-28,2023-02-28 19:00:00+01:00,193.78,1.2,-4.6,67.1,13.0,17.6
18932,2023-02-28,2023-02-28 20:00:00+01:00,174.89,1.2,-4.6,67.1,13.0,17.6
18933,2023-02-28,2023-02-28 21:00:00+01:00,158.27,1.2,-4.6,67.1,13.0,17.6
18934,2023-02-28,2023-02-28 22:00:00+01:00,153.78,1.2,-4.6,67.1,13.0,17.6

In [6]:
df1

,Biomass,Fossil Brown coal/Lignite,Fossil Gas,Fossil Hard coal,Fossil Oil,Geothermal,Hydro Pumped Storage,Hydro Run-of-river and poundage,Hydro Water Reservoir,Nuclear,Other,Other renewable,Solar,Waste,Wind Offshore,Wind Onshore
0,4631.25,11608.50,5657.00,3443.75,405.00,31.0,347.25,1182.00,48.25,8144.75,454.25,196.00,0.0,787.00,383.00,3943.00
1,4619.25,11602.75,5417.00,3044.75,405.00,31.0,518.50,1174.75,46.25,8150.25,454.00,196.00,0.0,785.75,394.50,3549.75
2,4617.25,11758.50,5319.00,3067.25,405.50,31.0,219.00,1158.25,30.25,8156.50,454.00,196.00,0.0,779.00,305.25,3223.25
3,4606.00,12337.50,5134.50,2852.50,405.50,31.0,2.00,1155.50,48.75,8153.75,454.25,196.00,0.0,770.75,319.25,2793.75
4,4606.75,12395.00,4999.50,2713.25,404.75,31.0,6.00,1152.50,26.75,8150.50,465.00,200.75,0.0,760.50,296.25,2499.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18907,5027.25,15054.50,12124.75,12762.75,8.00,23.0,6041.25,1074.25,194.50,2982.00,324.00,172.00,0.0,866.75,661.50,7556.00
18908,5065.25,15048.00,11996.25,12676.25,8.00,23.0,2795.75,1066.00,189.25,2981.75,324.00,172.00,0.0,867.50,585.25,7357.25
18909,5099.25,15075.50,11857.75,12462.75,8.00,23.0,950.25,1062.00,78.00,2982.50,326.00,172.75,0.0,867.75,650.25,7179.25
18910,5103.25,15243.00,11327.00,11736.50,8.00,23.0,551.50,1054.50,120.75,2983.00,316.25,168.25,0.0,861.75,819.50,6800.50
18911,5070.75,15258.75,10144.50,10814.00,8.00,23.0,200.00,1064.50,190.25,2983.25,295.00,158.00,0.0,864.00,864.50,6545.75

In [10]:
new_df = df.join(df1, lsuffix='_caller', rsuffix='_other')

In [13]:
new_df = new_df.dropna()

In [14]:
new_df.head()

,merge_idx,data,price,temp,dew,humidity,windspeed,cloudcover,Biomass,Fossil Brown coal/Lignite,...,Hydro Pumped Storage,Hydro Run-of-river and poundage,Hydro Water Reservoir,Nuclear,Other,Other renewable,Solar,Waste,Wind Offshore,Wind Onshore
0,2021-01-01,2021-01-01 00:00:00+01:00,50.87,1.9,0.2,88.5,10.0,63.9,4631.25,11608.50,...,347.25,1182.00,48.25,8144.75,454.25,196.00,0.0,787.00,383.00,3943.00
1,2021-01-01,2021-01-01 01:00:00+01:00,48.19,1.9,0.2,88.5,10.0,63.9,4619.25,11602.75,...,518.50,1174.75,46.25,8150.25,454.00,196.00,0.0,785.75,394.50,3549.75
2,2021-01-01,2021-01-01 02:00:00+01:00,44.68,1.9,0.2,88.5,10.0,63.9,4617.25,11758.50,...,219.00,1158.25,30.25,8156.50,454.00,196.00,0.0,779.00,305.25,3223.25
3,2021-01-01,2021-01-01 03:00:00+01:00,42.92,1.9,0.2,88.5,10.0,63.9,4606.00,12337.50,...,2.00,1155.50,48.75,8153.75,454.25,196.00,0.0,770.75,319.25,2793.75
4,2021-01-01,2021-01-01 04:00:00+01:00,40.39,1.9,0.2,88.5,10.0,63.9,4606.75,12395.00,...,6.00,1152.50,26.75,8150.50,465.00,200.75,0.0,760.50,296.25,2499.25

In [15]:
new_df = new_df.drop("merge_idx", axis = 1)
new_df = new_df.set_index("data")
new_df.head()

,price,temp,dew,humidity,windspeed,cloudcover,Biomass,Fossil Brown coal/Lignite,Fossil Gas,Fossil Hard coal,...,Hydro Pumped Storage,Hydro Run-of-river and poundage,Hydro Water Reservoir,Nuclear,Other,Other renewable,Solar,Waste,Wind Offshore,Wind Onshore
data,,,,,,,,,,,,,,,,,,,,,
2021-01-01 00:00:00+01:00,50.87,1.9,0.2,88.5,10.0,63.9,4631.25,11608.50,5657.0,3443.75,...,347.25,1182.00,48.25,8144.75,454.25,196.00,0.0,787.00,383.00,3943.00
2021-01-01 01:00:00+01:00,48.19,1.9,0.2,88.5,10.0,63.9,4619.25,11602.75,5417.0,3044.75,...,518.50,1174.75,46.25,8150.25,454.00,196.00,0.0,785.75,394.50,3549.75
2021-01-01 02:00:00+01:00,44.68,1.9,0.2,88.5,10.0,63.9,4617.25,11758.50,5319.0,3067.25,...,219.00,1158.25,30.25,8156.50,454.00,196.00,0.0,779.00,305.25,3223.25
2021-01-01 03:00:00+01:00,42.92,1.9,0.2,88.5,10.0,63.9,4606.00,12337.50,5134.5,2852.50,...,2.00,1155.50,48.75,8153.75,454.25,196.00,0.0,770.75,319.25,2793.75
2021-01-01 04:00:00+01:00,40.39,1.9,0.2,88.5,10.0,63.9,4606.75,12395.00,4999.5,2713.25,...,6.00,1152.50,26.75,8150.50,465.00,200.75,0.0,760.50,296.25,2499.25

In [16]:
new_df.to_csv("germany_final.csv")