In [36]:
import numpy as np
import pandas as pd
from tqdm import tqdm
from time import sleep

In [12]:
weather = pd.read_csv("germany_weather.csv")
weather.head()

,name,datetime,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
0,germany,2021-01-01,2.8,0.7,1.9,0.9,-1.9,-0.3,0.2,88.5,...,1.2,1,NaN,2021-01-01T08:17:20,2021-01-01T16:03:12,0.58,"Snow, Rain, Partially cloudy",Partly cloudy throughout the day with rain or ...,rain,"00427,00420,03987,10385099999,00403,EDDB,E2835..."
1,germany,2021-01-02,3.8,-0.4,1.1,3.0,-3.7,-1.2,-0.7,88.0,...,2.4,2,NaN,2021-01-02T08:17:10,2021-01-02T16:04:19,0.62,"Snow, Rain, Partially cloudy",Partly cloudy throughout the day with morning ...,rain,"00427,00420,03987,00403,E2835,00433,00400"
2,germany,2021-01-03,1.0,-0.6,0.5,-3.4,-4.9,-4.1,-0.6,92.3,...,0.4,0,NaN,2021-01-03T08:16:57,2021-01-03T16:05:29,0.65,"Snow, Rain, Overcast",Cloudy skies throughout the day with rain or s...,snow,"00427,00420,03987,00403,E2835,00433,00400"
3,germany,2021-01-04,0.8,0.6,0.7,-2.7,-3.7,-3.3,0.0,94.5,...,0.4,0,NaN,2021-01-04T08:16:40,2021-01-04T16:06:42,0.69,"Snow, Rain, Partially cloudy",Partly cloudy throughout the day with a chance...,snow,"00427,00420,03987,00403,E2835,00433,00400"
4,germany,2021-01-05,2.9,0.7,1.6,-0.2,-3.7,-2.3,0.7,93.8,...,0.5,0,NaN,2021-01-05T08:16:19,2021-01-05T16:07:57,0.72,"Snow, Rain, Overcast",Cloudy skies throughout the day with rain or s...,rain,"00427,00420,03987,00403,E2835,00433,00400"

In [13]:
weather.columns

Index(['name', 'datetime', 'tempmax', 'tempmin', 'temp', 'feelslikemax',
       'feelslikemin', 'feelslike', 'dew', 'humidity', 'precip', 'precipprob',
       'precipcover', 'preciptype', 'snow', 'snowdepth', 'windgust',
       'windspeed', 'winddir', 'sealevelpressure', 'cloudcover', 'visibility',
       'solarradiation', 'solarenergy', 'uvindex', 'severerisk', 'sunrise',
       'sunset', 'moonphase', 'conditions', 'description', 'icon', 'stations'],
      dtype='object')

In [15]:
keys = ['datetime', 'temp', 'dew', 'humidity', 'windspeed', 'cloudcover']
df = weather[keys]

In [18]:
df

       datetime  temp  dew  humidity  windspeed  cloudcover
0    2021-01-01   1.9  0.2      88.5       10.0        63.9
1    2021-01-02   1.1 -0.7      88.0       11.3        33.7
2    2021-01-03   0.5 -0.6      92.3       23.6        94.3
3    2021-01-04   0.7  0.0      94.5       16.1        75.8
4    2021-01-05   1.6  0.7      93.8       17.1        92.0
..          ...   ...  ...       ...        ...         ...
784  2023-02-24   3.6  1.1      84.3       23.0        95.4
785  2023-02-25   1.7  0.0      88.9       30.8        98.8
786  2023-02-26   0.8 -4.1      71.1       24.6        44.4
787  2023-02-27   0.3 -4.5      72.1       14.7        49.0
788  2023-02-28   1.2 -4.6      67.1       13.0        17.6

[789 rows x 6 columns]

In [17]:
price = pd.read_csv("germany_price.csv")
price.columns = ["data", "price"]
price.data = pd.to_datetime(price.data)
price.index = price.data
price.head()

                                                data  price
data
2020-01-01 00:00:00+01:00  2020-01-01 00:00:00+01:00  41.88
2020-01-01 01:00:00+01:00  2020-01-01 01:00:00+01:00  38.60
2020-01-01 02:00:00+01:00  2020-01-01 02:00:00+01:00  36.55
2020-01-01 03:00:00+01:00  2020-01-01 03:00:00+01:00  32.32
2020-01-01 04:00:00+01:00  2020-01-01 04:00:00+01:00  30.85

In [37]:
price['merge_idx'] = np.nan
price

                                                data   price  merge_idx
data
2020-01-01 00:00:00+01:00  2020-01-01 00:00:00+01:00   41.88        NaN
2020-01-01 01:00:00+01:00  2020-01-01 01:00:00+01:00   38.60        NaN
2020-01-01 02:00:00+01:00  2020-01-01 02:00:00+01:00   36.55        NaN
2020-01-01 03:00:00+01:00  2020-01-01 03:00:00+01:00   32.32        NaN
2020-01-01 04:00:00+01:00  2020-01-01 04:00:00+01:00   30.85        NaN
...                                              ...     ...        ...
2023-02-28 18:00:00+01:00  2023-02-28 18:00:00+01:00  193.87        NaN
2023-02-28 19:00:00+01:00  2023-02-28 19:00:00+01:00  193.78        NaN
2023-02-28 20:00:00+01:00  2023-02-28 20:00:00+01:00  174.89        NaN
2023-02-28 21:00:00+01:00  2023-02-28 21:00:00+01:00  158.27        NaN
2023-02-28 22:00:00+01:00  2023-02-28 22:00:00+01:00  153.78        NaN

[27719 rows x 3 columns]

In [20]:
df.datetime[0]

'2021-01-01'

In [30]:
df.datetime[0] in str(price.data[8800])

True

In [29]:
str(price.data[8800])

'2021-01-01 16:00:00+01:00'

In [55]:
for i in tqdm(df.datetime):
    for jdx, j in enumerate(price.data):
        if i in str(j):
            price.at[j,'merge_idx'] = i

100%|██████████| 789/789 [00:48<00:00, 16.23it/s]

In [53]:
price.at[price.data[8800],'merge_idx'] = np.nan

In [54]:
price.at[price.data[8800],'merge_idx']

nan

In [59]:
price = price.dropna()

In [60]:
price

                                                data   price   merge_idx
data
2021-01-01 00:00:00+01:00  2021-01-01 00:00:00+01:00   50.87  2021-01-01
2021-01-01 01:00:00+01:00  2021-01-01 01:00:00+01:00   48.19  2021-01-01
2021-01-01 02:00:00+01:00  2021-01-01 02:00:00+01:00   44.68  2021-01-01
2021-01-01 03:00:00+01:00  2021-01-01 03:00:00+01:00   42.92  2021-01-01
2021-01-01 04:00:00+01:00  2021-01-01 04:00:00+01:00   40.39  2021-01-01
...                                              ...     ...         ...
2023-02-28 18:00:00+01:00  2023-02-28 18:00:00+01:00  193.87  2023-02-28
2023-02-28 19:00:00+01:00  2023-02-28 19:00:00+01:00  193.78  2023-02-28
2023-02-28 20:00:00+01:00  2023-02-28 20:00:00+01:00  174.89  2023-02-28
2023-02-28 21:00:00+01:00  2023-02-28 21:00:00+01:00  158.27  2023-02-28
2023-02-28 22:00:00+01:00  2023-02-28 22:00:00+01:00  153.78  2023-02-28

[18935 rows x 3 columns]

In [66]:
price.join(df, lsuffix='_caller', rsuffix='_other')

,data,price,merge_idx_caller,merge_idx_other,temp,dew,humidity,windspeed,cloudcover
data,,,,,,,,,
2021-01-01 00:00:00+01:00,2021-01-01 00:00:00+01:00,50.87,2021-01-01,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-01 01:00:00+01:00,2021-01-01 01:00:00+01:00,48.19,2021-01-01,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-01 02:00:00+01:00,2021-01-01 02:00:00+01:00,44.68,2021-01-01,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-01 03:00:00+01:00,2021-01-01 03:00:00+01:00,42.92,2021-01-01,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-01 04:00:00+01:00,2021-01-01 04:00:00+01:00,40.39,2021-01-01,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2023-02-28 18:00:00+01:00,2023-02-28 18:00:00+01:00,193.87,2023-02-28,NaN,NaN,NaN,NaN,NaN,NaN
2023-02-28 19:00:00+01:00,2023-02-28 19:00:00+01:00,193.78,2023-02-28,NaN,NaN,NaN,NaN,NaN,NaN
2023-02-28 20:00:00+01:00,2023-02-28 20:00:00+01:00,174.89,2023-02-28,NaN,NaN,NaN,NaN,NaN,NaN
2023-02-28 21:00:00+01:00,2023-02-28 21:00:00+01:00,158.27,2023-02-28,NaN,NaN,NaN,NaN,NaN,NaN
2023-02-28 22:00:00+01:00,2023-02-28 22:00:00+01:00,153.78,2023-02-28,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
df.columns = ['merge_idx', 'temp', 'dew', 'humidity', 'windspeed', 'cloudcover']

In [69]:
price = price.set_index('merge_idx').join(df.set_index('merge_idx'))

In [71]:
price.set_index(price.data)

,data,price,temp,dew,humidity,windspeed,cloudcover
data,,,,,,,
2021-01-01 00:00:00+01:00,2021-01-01 00:00:00+01:00,50.87,1.9,0.2,88.5,10.0,63.9
2021-01-01 01:00:00+01:00,2021-01-01 01:00:00+01:00,48.19,1.9,0.2,88.5,10.0,63.9
2021-01-01 02:00:00+01:00,2021-01-01 02:00:00+01:00,44.68,1.9,0.2,88.5,10.0,63.9
2021-01-01 03:00:00+01:00,2021-01-01 03:00:00+01:00,42.92,1.9,0.2,88.5,10.0,63.9
2021-01-01 04:00:00+01:00,2021-01-01 04:00:00+01:00,40.39,1.9,0.2,88.5,10.0,63.9
...,...,...,...,...,...,...,...
2023-02-28 18:00:00+01:00,2023-02-28 18:00:00+01:00,193.87,1.2,-4.6,67.1,13.0,17.6
2023-02-28 19:00:00+01:00,2023-02-28 19:00:00+01:00,193.78,1.2,-4.6,67.1,13.0,17.6
2023-02-28 20:00:00+01:00,2023-02-28 20:00:00+01:00,174.89,1.2,-4.6,67.1,13.0,17.6
2023-02-28 21:00:00+01:00,2023-02-28 21:00:00+01:00,158.27,1.2,-4.6,67.1,13.0,17.6
2023-02-28 22:00:00+01:00,2023-02-28 22:00:00+01:00,153.78,1.2,-4.6,67.1,13.0,17.6